div(style="background:#444;color:#fff;margin-top:30px")
  .layui-container.links
    .layui-row(style="padding: 30px 0;")
      .layui-col-md8
        h3 友情链接
        p
          each val, index in new Array(16)
            a(href="#") 友情链接
      .layui-col-md4(style="border-left: 1px #fff solid;padding-left: 2rem;height:7rem;")
        p 不良信息举报电话：148491798
        p 内容建议和反馈电话：320819290
        p 投稿联系电话：231-2313213
        p 管理员邮箱地址：yuiy@ede.zs
div(style="background:#353535;color:#fff;")
  .layui-container
    .layui-row.cp
      p 主办：解放军报社 互联网新闻信息服务许可证10120170013 京ICP备11009437号 京公网安备110102000247