div(style="background-color: #ededed;border-bottom: 1px solid #dadada;")
  .layui-container
    .layui-row
      .layui-col-md12
        .nav-top
          a(href="#") 军事综合业务网站&nbsp;&nbsp;
          a(href="#") 强军网&nbsp;&nbsp;
          a(href="#") 业务网&nbsp;&nbsp;
          a.pull-right(href="#")
            i.layui-icon.layui-icon-username 
            | 注册 / 登录
div(style="background:#fff;")
  .layui-container
    .layui-row
      .layui-col-md12
        .header-top
          .layui-row
            .layui-col-md4
              a.logo(href="/")
                img(src="/images/logo.png", alt="", srcset="")
              //- .intro
              //-   p 传播复兴中华的思想
              //-   p 做理性的爱国者
            .layui-col-md5
              form.layui-form.blog-seach.pull-left
                .layui-form-item.blog-sewrap
                    .layui-input-block.blog-sebox
                      i.layui-icon.layui-icon-search
                      input.layui-input(type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入关键字...")
            .layui-col-md3.shortcuts
              a(href="#")
                img(src="/images/email.svg", alt="", srcset="")
                span 电子邮件
              a(href="#")
                img(src="/images/cloud.svg", alt="", srcset="")
                span 网盘
              a(href="#")
                img(src="/images/office.svg", alt="", srcset="")
                span 在线办公
              a(href="#")
                img(src="/images/chat.svg", alt="", srcset="")
                span 即时通信
              
div(style="background: #d42222;")
  .layui-container
    .layui-row
      .layui-col-md12
        .nav-list
          ul 
            li
              h3
                a 资讯
              a(href="/jzw") 军内动态
              a(href="/hlw") 地方媒体
              a(href="/wx") 微信精选
              a(href="/video") 军事视频
            li(style="width:249px;")
              h3
                a 专题
              a(href="/special?title=联合筹划") 联合筹划
              a(href="/special?title=联合情报") 联合情报
              a(href="/special?title=联合通信") 联合通信
              a(href="/special?title=联合后勤") 联合后勤
              a(href="/special?title=信息作战") 信息作战
              a(href="/special?title=太空作战") 太空作战
            li
              h3
                a 周边
              a(href="/surround?title=南海问题") 南海问题
              a(href="/surround?title=朝鲜半岛") 朝鲜半岛
              a(href="/surround?title=中印方向") 中印方向
              a(href="/surround?title=东海问题") 东海问题
            li
              h3
                a 监管
              a(href="/site") 网站导航
              a(href="/resource") 优质资源
              a(href="#") 网站备案
              a(href="/audit") 监察审计
            li
              h3
                a 应用
              a(href="#") 在线办公
              a(href="#") 即时协作
              a(href="/data") 数据共享
              a(href="/tool") 辅助工具
div(style="background-color: #fafafa;border-bottom: 1px solid #ebebeb;")
  .layui-container
    .layui-row
      .layui-col-md12
        .nav-top
          a(href="/")
            i.layui-icon.layui-icon-home 
            | 首页 
          each v,i in breadcrumb
            a(href= v.path)
              i.layui-icon.layui-icon-right 
              = v.title 