div(style="background-color: #ededed;border-bottom: 1px solid #dadada;")
  .layui-container
    .layui-row
      .layui-col-md12
        .nav-top
          a(href="#") 门户
          a.pull-right(href="#")
            i.layui-icon.layui-icon-username 
            | 注册 / 登录
div(style="background:#fff;")
  .layui-container
    .layui-row
      .layui-col-md12
        .header-top
          .layui-row
            .layui-col-md4
              a.logo(href="#")
                img(src="/images/logo.png", alt="", srcset="")
              .intro
                p 传播复兴中华的思想
                p 做理性的爱国者
            .layui-col-md5
              form.layui-form.blog-seach.pull-left
                .layui-form-item.blog-sewrap
                    .layui-input-block.blog-sebox
                      i.layui-icon.layui-icon-search
                      input.layui-input(type="text" name="title" lay-verify="title" autocomplete="off")
            .layui-col-md3.shortcuts
              a(href="#")
                img(src="/images/chat64.png", alt="", srcset="")
                span 快捷
              a(href="#")
                img(src="/images/chat64.png", alt="", srcset="")
                span 快捷
              a(href="#")
                img(src="/images/chat64.png", alt="", srcset="")
                span 快捷
              a(href="#")
                img(src="/images/chat64.png", alt="", srcset="")
                span 快捷
              
div(style="background: #d42222;")
  .layui-container
    .layui-row
      .layui-col-md12
        .nav-list
          ul 
            li
              h3
                a(href="#") 资讯
              a(href="#") 军内动态
              a(href="#") 地方媒体
              a(href="#") 微信精选
              a(href="#") 军事视频
            li(style="width:249px;")
              h3
                a(href="#") 专题
              a(href="#") 联合筹划
              a(href="#") 联合情报
              a(href="#") 联合通信
              a(href="#") 联合后勤
              a(href="#") 信息作战
              a(href="#") 太空作战
            li
              h3
                a(href="#") 周边
              a(href="#") 南海问题
              a(href="#") 朝鲜半岛
              a(href="#") 中印方向
              a(href="#") 东海问题
            li
              h3
                a(href="#") 监管
              a(href="#") 网站导航
              a(href="#") 优质资源
              a(href="#") 网站备案
              a(href="#") 监察审计
            li
              h3
                a(href="#") 应用
              a(href="#") 在线办公
              a(href="#") 即时协作
              a(href="#") 软件超市
              a(href="#") 辅助工具
div(style="background-color: #fafafa;border-bottom: 1px solid #ebebeb;")
  .layui-container
    .layui-row
      .layui-col-md12
        .nav-top
          a(href="#")
            i.layui-icon.layui-icon-home 
            | 首页 
          a(href="#")
            i.layui-icon.layui-icon-right 
            | 互联网集粹 
          a(href="#")
            i.layui-icon.layui-icon-right 
            | 历史