extends layout

block content
  div(style="background-color: #ededed;border-bottom: 1px solid #dadada;")
    .layui-container
      .layui-row
        .layui-col-md12
          .nav-top
            a(href="#") 门户
            a.pull-right(href="#")
              i.layui-icon.layui-icon-username 
              | 注册 / 登录
  div(style="background:#fff;")
    .layui-container
      .layui-row
        .layui-col-md12
          .header-top
            .layui-row
              .layui-col-md4
                a.logo(href="#")
                  img(src="/images/logo.png", alt="", srcset="")
                .intro
                  p 传播复兴中华的思想
                  p 做理性的爱国者
              .layui-col-md5
                form.layui-form.blog-seach.pull-left
                  .layui-form-item.blog-sewrap
                      .layui-input-block.blog-sebox
                        i.layui-icon.layui-icon-search
                        input.layui-input(type="text" name="title" lay-verify="title" autocomplete="off")
              .layui-col-md3.shortcuts
                a(href="#")
                  img(src="/images/i1.png", alt="", srcset="")
                  span 快捷
                a(href="#")
                  img(src="/images/i2.png", alt="", srcset="")
                  span 快捷
                a(href="#")
                  img(src="/images/i3.png", alt="", srcset="")
                  span 快捷
                a(href="#")
                  img(src="/images/i4.png", alt="", srcset="")
                  span 快捷
                
  div(style="background: #d42222;")
    .layui-container
      .layui-row
        .layui-col-md12
          .nav-list
            ul 
              li
                h3
                  a(href="#") 中国
                a(href="#") 中国
                a(href="#") 中国
              li
                h3
                  a(href="#") 中国
                a(href="#") 中国
                a(href="#") 中国
  div(style="background-color: #fafafa;border-bottom: 1px solid #ebebeb;")
    .layui-container
      .layui-row
        .layui-col-md12
          .nav-top
            a(href="#")
              i.layui-icon.layui-icon-notice 
              | 重要通知：热天热公尺高的
  .layui-container
    .jrtt
      .toutiao
      h2
        a(href="/news/world/475.html" title="阿联酋禁止突尼斯女性登机 突政府采取反击措施") 阿联酋禁止突尼斯女性登机 突政府采取反击措施应对危机
      ul
        each val, index in new Array(3)
          li
            a(href="/kuaixun/redian/419.html") 《绝地求生》Xbox版抢先测试体
  .layui-container
    .layui-row.layui-col-space10
      .layui-col-md3
        .col-box
          .col-box-title 今日焦点 / Focus
          h1
            a(href="#") 传递信心擘画蓝图——与会工商界人士热
          p 9月3日，二十国集团工商峰会在浙江杭州开幕。新华社记者黄宗治摄“在杭州点击鼠标，联通的是整个世界。”9……
          ul
            each val, index in new Array(7)
              li
                a(href="#") 新华社记者黄宗治摄“在杭
      .layui-col-md6
        #test10.layui-carousel
          div(carousel-item="")
            .carousel-item(style="background-image:url(/images/timg.jpg);")
              a.sub-title(href="#") dfsdfd
            .carousel-item(style="background-image:url(/images/timg2.jpg);")
              a.sub-title(href="#") dfsdfd23213
          .spec-top(style="background-image:url(/images/top.jpg);")
      .layui-col-md3
        .col-box-2
          .col-box-title-2 互联网集萃
          ul
            each val, index in new Array(5)
              li
                a(href="#")
                  img(src="/images/timg.jpg")
                a.news-title(href="#") 二十国集团工商峰会在浙江杭州开幕
  .layui-container(style="margin-top:10px;")
    .layui-row.layui-col-space10
      .layui-col-md8
        .col-box
          .col-box-title 门户网站推荐
            span.pull-right
              each val, index in new Array(5)
                a(href="#") 总部门户
          .layui-row.layui-col-space20(style="margin: 10px 0 0 0;")
            each val, index in new Array(8)
              .layui-col-md3
                .website
                  .thumb(style="background-image:url(/images/timg.jpg)")
                  .website-name 门户
        img(src="/images/top.jpg" style="margin:10px 0;width:100%;height:120px;")
        .col-box
          .col-box-title 门户网站推荐
            span.pull-right
              each val, index in new Array(5)
                a(href="#") 总部门户
          .layui-row.layui-col-space20(style="margin: 10px 0 0 0;")
            each val, index in new Array(8)
              .layui-col-md3
                .website
                  .thumb(style="background-image:url(/images/timg.jpg)")
                  .website-name 门户
      .layui-col-md4
        .col-box-2
          .col-box-title-2 专题快报
          img(src="/images/top.jpg" style="width:100%")
          .spec-right
            h3
              a(href="/keji/shuma/1442.html") 解放军39集团军战斗力堪比百万朝鲜军
            p 在韩国媒体眼中，解放军在东北地区的演习大都是为应对朝鲜有事而准备的，因而尤其关注该地区的中国军队动向和装备。韩国……
            ul.b_box8
              each val, index in new Array(3)
                li
                  a(href="/keji/shuma/1576.html")
                    img(src="/images/timg3.jpg" alt="网上支付还要通过银行身份鉴别 功能进一步受限")
                  h4
                    a(href="/keji/shuma/1576.html") 网上支付还要通过银行身份鉴别 功能进一步受限
                  p 外交官集团移动商务负责人表示，公司计划将微商渠道作为品牌的主轴发展方向之一，将成“微商箱包...
          img(src="/images/top.jpg" style="width:100%;margin-top:15px")
          .spec-right
            h3
              a(href="/keji/shuma/1442.html") 解放军39集团军战斗力堪比百万朝鲜军
            p 在韩国媒体眼中，解放军在东北地区的演习大都是为应对朝鲜有事而准备的，因而尤其关注该地区的中国军队动向和装备。韩国……
            ul.b_box8
              each val, index in new Array(3)
                li
                  a(href="/keji/shuma/1576.html")
                    img(src="/images/timg3.jpg" alt="网上支付还要通过银行身份鉴别 功能进一步受限")
                  h4
                    a(href="/keji/shuma/1576.html") 网上支付还要通过银行身份鉴别 功能进一步受限
                  p 外交官集团移动商务负责人表示，公司计划将微商渠道作为品牌的主轴发展方向之一，将成“微商箱包...
  div(style="margin-top:10px")
    .layui-container
      .layui-row
        .layui-col-md12
          .col-box
            .col-box-title 应用市场
              span.pull-right
                each val, index in new Array(5)
                  a(href="#") 总部门户
            .tools
              each val, index in new Array(16)
                a(href="#")
                  img(src="/images/i1.png", alt="", srcset="")
                  span 工具
  div(style="background:#444;color:#fff;margin-top:30px")
    .layui-container.links
      .layui-row(style="padding: 30px 0;")
        .layui-col-md8
          h3 友情链接
          p
            each val, index in new Array(16)
              a(href="#") 友情链接
        .layui-col-md4(style="border-left: 1px #fff solid;padding-left: 2rem;height:7rem;")
          p 不良信息举报电话：148491798
          p 内容建议和反馈电话：320819290
          p 投稿联系电话：231-2313213
          p 管理员邮箱地址：yuiy@ede.zs
  div(style="background:#353535;color:#fff;")
    .layui-container
      .layui-row.cp
        p 主办：解放军报社 互联网新闻信息服务许可证10120170013 京ICP备11009437号 京公网安备110102000247


block customJs
  script.
    layui.use(['carousel', 'form'], function(){
      var carousel = layui.carousel
      ,form = layui.form;
      
      //图片轮播
      carousel.render({
        elem: '#test10'
        ,width: '100%'
        ,height: '340px'
        ,interval: 5000
        ,indicator: 'none'
      });
    });