extends layout
block content
  .layui-container.site-inline.site-fix(style="margin: 10px auto;min-height:1000px;")
    .site-tree
      ul.layui-tree
        each v,i in units
          li
            h2= v.name
          each w,j in v.units
            li.site-tree-noicon
              a(href='/doc/')
                cite= w.name

    .site-content
      .col-box
            .col-box-title 优秀站点推荐
            .layui-row(style="margin:10px 0;")
              each v,i in new Array(6)
                .layui-col-md2.site-cards
                  a.website(href="#")
                    .thumb(style="background-image:url(/images/timg.jpg)")
                    .website-name 门户
      .col-box(style="margin-top:10px;")
            .col-box-title 全部网站列表
            .layui-row(style="margin:10px 0;")
              each v,i in new Array(30)
                .layui-col-md2.site-cards
                  a(href="#").site-card gfdg
