extends layout
block content
  //- div(style="position:relative;height: 150px;overflow: hidden;")
  //-   div(style="filter: blur(3px);background:url(/images/"+name+".jpg);background-size:cover;background-position:center;height:180px;position: absolute;width: 110%;margin-top:-20px;margin-left:-20px;")
  //-   div(style="height:150px;position: absolute;top: 0;width: 100%;text-align:center")
  //-     span(style="letter-spacing:10px;line-height:150px;font-size:3em;font-weight:700;color:#fff;text-shadow:2px 2px 10px rgba(0,0,0,0.8);")= name
  div(style="position:relative;height: 500px;background:url(/images/map-1.jpg);background-size:cover;background-position:center;")
  .layui-container(style="margin: 10px auto;")
    .layui-row.layui-col-space10
      .layui-col-md8
        .layui-row.layui-col-space10
          each v,i in cols
            .layui-col-md6
              .col-box(style="height: 430px;")
                .col-box-title= v.column
                //- h1
                //-   a(href="#")= v.speicalarticles[0].title
                //- p= v.speicalarticles[0].title
                ul
                  each w, j in v.speicalarticles
                    li
                      a(href="#")= w.title
      .layui-col-md4
        ul.layui-timeline
          each v,i in timeline
            li.layui-timeline-item
              i.layui-icon.layui-timeline-axis 
              .layui-timeline-content
                h3.layui-timeline-title= v.publish_date
                each w,j in v.speicalarticles
                  p
                    a(href="/surround/detail?_id="+w._id)= w.title
          li.layui-timeline-item
            i.layui-icon.layui-timeline-axis 
            .layui-timeline-content
              .layui-timeline-title 更多...
