extends layout
block content
  .layui-container(style="margin: 10px auto;")
    .layui-tab
      ul.layui-tab-title
        li.layui-this 网站设置
        li 用户管理
        li 权限分配
        li 商品管理
        li 订单管理
      .layui-tab-content.tool-list
        .layui-tab-item.layui-show
          .layui-row.layui-col-space20.tools
            each val, index in new Array(12)
              .layui-col-md2
                a(href="#")
                  img(src="/images/i1.png", alt="", srcset="")
                  .tool
                    span
                      strong 工具
                    p 适用于多发点撒的
        .layui-tab-item 内容2
        .layui-tab-item 内容3
        .layui-tab-item 内容4
        .layui-tab-item 内容5
